.search-bar-container {
  margin: 20px auto;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  max-width: 600px;
  width: 100%;
}

.search-icon-wrapper {
  background-color: white;
  border-right: white;
}

.search-icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.search-form-control {
  border-radius: 8px;
  border: 1px solid #cccccca0;
  border-left: white;
  box-shadow: none;
}
