.search-bar-container {
  margin: 20px auto;
  margin-left: 30px;
  padding: 0 120px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  max-width: 100%;
  width: 100%;
}

.search-form-control {
  border-radius: 8px;
  border: 1px solid #cccccca0;
}

.search-form-control::placeholder {
  color: #555; 
  opacity: 1; 
}
